@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

input {
  border-radius: 3px;
  text-align: center;
  margin-bottom: 7px;
}

label {
  font-weight: 500;
  text-align: center;
}

select {
  margin-bottom: 7px;

}

.bg-gradient-to-b {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to bottom, transparent);
  z-index: 0;
}


@media (min-width: 360px) {
  label {
    text-align: left;
  }

}
